language: shell

addons:
  apt:
    packages: xvfb libusb-1.0-0-dev mesa-common-dev

env:
  global:
    RUNNER="non-interactive-qt-installer/qt_installer.sh"

before_install:

install:
  - cd ${TRAVIS_BUILD_DIR}/non-interactive-qt-installer
  - ${RUNNER}
  - cd ${TRAVIS_BUILD_DIR}
  - sudo ln -s /usr/lib/x86_64-linux-gnu/libGL.so.1 /usr/lib/libGL.so
  - qmake
  - make

script:
  - qmake --version

matrix:
  include:
    - os: linux
      dist: bionic
      env:
        - QT_INSTALLER_DOWNLOAD_NAME="qt-unified-linux-x64-online.run"
        - QT_INSTALLER_VARS="${TRAVIS_BUILD_DIR}/vars_linux.js"
        - PATH="/opt/Qt/5.12.2/gcc_64/bin:${PATH}"
        - RUNNER='xvfb-run --auto-servernum --error-file=/dev/stderr ./qt_installer.sh'
